.profile-image {
    width: 200px; 
    height: 250px;
    border-radius: 5%; 
    margin-bottom: 1rem;
  }  
  
  .home-description, .home-instructions{
    margin-bottom: 2rem;
    text-align: justify; 
    max-width: 600px; 
  }
  
  .home-container {
    color: #ffffff;
    padding: 2rem;
  }
