/* src/index.css o el archivo CSS que estés utilizando */
#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  .project-frame {
    border: none;
    width: 80%;
    height: 230px;
    margin: 0 auto;
    display: block;
  }
  
  .projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .projects-title {
    margin-bottom: 2rem;
    color: #ffffff;
  }
  
  @media (max-width: 768px) {
    .project-frame {
      width: 100%;
    }
  }
  